<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>少女粉</key>
	<dict>
		<key>separatorColor</key>
		<integer>10066329</integer>
		<key>backgroundColor</key>
		<integer>15921906</integer>
		<key>themeColor</key>
		<real>16210055</real>
		<key>textColor</key>
		<real>3355443</real>
		<key>assistantTextColor</key>
		<integer>12303291</integer>
		<key>lightBackGroundColor</key>
		<integer>16777215</integer>
		<key>ShiBanEpisodeCollectionViewCell</key>
		<dict>
			<key>backgroundColor</key>
			<real>16777215</real>
		</dict>
		<key>AVItemTableViewController</key>
		<dict>
			<key>tagColor</key>
			<real>16210055</real>
		</dict>
		<key>ShiBanPlayTableViewController</key>
		<dict>
			<key>numLabel</key>
			<dict>
				<key>textColor</key>
				<real>16210055</real>
			</dict>
			<key>UIImageView</key>
			<dict>
				<key>tintColor</key>
				<real>16210055</real>
			</dict>
		</dict>
		<key>FindViewController</key>
		<dict>
			<key>hotTextColor</key>
			<real>16210055</real>
		</dict>
		<key>ProfileTableViewController</key>
		<dict>
			<key>detailTextLabel</key>
			<dict>
				<key>textColor</key>
				<integer>12237242</integer>
			</dict>
			<key>view</key>
			<dict>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
		</dict>
		<key>HomePageViewController</key>
		<dict>
			<key>menuView</key>
			<dict>
				<key>norColor</key>
				<integer>16777215</integer>
				<key>selColor</key>
				<real>16777215</real>
			</dict>
		</dict>
		<key>AVInfoViewController</key>
		<dict>
			<key>UPLabel</key>
			<dict>
				<key>textColor</key>
				<real>16210055</real>
			</dict>
			<key>menuView</key>
			<dict>
				<key>lineColor</key>
				<real>16210055</real>
				<key>selColor</key>
				<real>16210055</real>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
			<key>headView</key>
			<dict>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
		</dict>
	</dict>
	<key>夜间模式</key>
	<dict>
		<key>separatorColor</key>
		<real>4934475</real>
		<key>backgroundColor</key>
		<real>3355443</real>
		<key>themeColor</key>
		<integer>3881787</integer>
		<key>textColor</key>
		<real>9737364</real>
		<key>assistantTextColor</key>
		<integer>12303291</integer>
		<key>lightBackGroundColor</key>
		<integer>3881787</integer>
		<key>ShiBanEpisodeCollectionViewCell</key>
		<dict>
			<key>backgroundColor</key>
			<integer>5526612</integer>
		</dict>
		<key>AVItemTableViewController</key>
		<dict>
			<key>tagColor</key>
			<real>4934475</real>
		</dict>
		<key>ShiBanPlayTableViewController</key>
		<dict>
			<key>numLabel</key>
			<dict>
				<key>textColor</key>
				<real>9737364</real>
			</dict>
			<key>UIImageView</key>
			<dict>
				<key>tintColor</key>
				<real>9737364</real>
			</dict>
		</dict>
		<key>FindViewController</key>
		<dict>
			<key>hotTextColor</key>
			<real>16210055</real>
		</dict>
		<key>ProfileTableViewController</key>
		<dict>
			<key>detailTextLabel</key>
			<dict>
				<key>textColor</key>
				<integer>11447982</integer>
			</dict>
			<key>view</key>
			<dict>
				<key>backgroundColor</key>
				<real>3881787</real>
			</dict>
		</dict>
		<key>HomePageViewController</key>
		<dict>
			<key>menuView</key>
			<dict>
				<key>selColor</key>
				<real>16777215</real>
				<key>norColor</key>
				<real>16777215</real>
			</dict>
		</dict>
		<key>AVInfoViewController</key>
		<dict>
			<key>UPLabel</key>
			<dict>
				<key>textColor</key>
				<real>9737364</real>
			</dict>
			<key>menuView</key>
			<dict>
				<key>lineColor</key>
				<real>16282777</real>
				<key>selColor</key>
				<real>16777215</real>
				<key>backgroundColor</key>
				<real>3881787</real>
			</dict>
			<key>headView</key>
			<dict>
				<key>backgroundColor</key>
				<real>3881787</real>
			</dict>
		</dict>
	</dict>
	<key>姨妈红</key>
	<dict>
		<key>backgroundColor</key>
		<integer>15921906</integer>
		<key>separatorColor</key>
		<integer>10066329</integer>
		<key>themeColor</key>
		<real>15808567</real>
		<key>textColor</key>
		<integer>3355443</integer>
		<key>assistantTextColor</key>
		<integer>12303291</integer>
		<key>lightBackGroundColor</key>
		<integer>16777215</integer>
		<key>ShiBanEpisodeCollectionViewCell</key>
		<dict>
			<key>backgroundColor</key>
			<real>16777215</real>
		</dict>
		<key>AVItemTableViewController</key>
		<dict>
			<key>tagColor</key>
			<real>15808567</real>
		</dict>
		<key>ShiBanPlayTableViewController</key>
		<dict>
			<key>numLabel</key>
			<dict>
				<key>textColor</key>
				<real>15808567</real>
			</dict>
			<key>UIImageView</key>
			<dict>
				<key>tintColor</key>
				<real>15808567</real>
			</dict>
		</dict>
		<key>FindViewController</key>
		<dict>
			<key>hotTextColor</key>
			<real>15808567</real>
		</dict>
		<key>ProfileTableViewController</key>
		<dict>
			<key>detailTextLabel</key>
			<dict>
				<key>textColor</key>
				<integer>12237242</integer>
			</dict>
			<key>view</key>
			<dict>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
		</dict>
		<key>HomePageViewController</key>
		<dict>
			<key>menuView</key>
			<dict>
				<key>norColor</key>
				<integer>16777215</integer>
				<key>selColor</key>
				<real>16777215</real>
			</dict>
		</dict>
		<key>AVInfoViewController</key>
		<dict>
			<key>UPLabel</key>
			<dict>
				<key>textColor</key>
				<real>15808567</real>
			</dict>
			<key>menuView</key>
			<dict>
				<key>lineColor</key>
				<real>15808567</real>
				<key>selColor</key>
				<real>15808567</real>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
			<key>headView</key>
			<dict>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
		</dict>
	</dict>
	<key>咸蛋黄</key>
	<dict>
		<key>backgroundColor</key>
		<integer>15921906</integer>
		<key>themeColor</key>
		<real>16630286</real>
		<key>separatorColor</key>
		<integer>10066329</integer>
		<key>textColor</key>
		<integer>3355443</integer>
		<key>assistantTextColor</key>
		<integer>12303291</integer>
		<key>lightBackGroundColor</key>
		<integer>16777215</integer>
		<key>ShiBanEpisodeCollectionViewCell</key>
		<dict>
			<key>backgroundColor</key>
			<real>16777215</real>
		</dict>
		<key>AVItemTableViewController</key>
		<dict>
			<key>tagColor</key>
			<real>16630286</real>
		</dict>
		<key>ShiBanPlayTableViewController</key>
		<dict>
			<key>numLabel</key>
			<dict>
				<key>textColor</key>
				<real>16630286</real>
			</dict>
			<key>UIImageView</key>
			<dict>
				<key>tintColor</key>
				<real>16630286</real>
			</dict>
		</dict>
		<key>FindViewController</key>
		<dict>
			<key>hotTextColor</key>
			<real>16630286</real>
		</dict>
		<key>ProfileTableViewController</key>
		<dict>
			<key>detailTextLabel</key>
			<dict>
				<key>textColor</key>
				<integer>12237242</integer>
			</dict>
			<key>view</key>
			<dict>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
		</dict>
		<key>HomePageViewController</key>
		<dict>
			<key>menuView</key>
			<dict>
				<key>norColor</key>
				<integer>16777215</integer>
				<key>selColor</key>
				<real>16777215</real>
			</dict>
		</dict>
		<key>AVInfoViewController</key>
		<dict>
			<key>UPLabel</key>
			<dict>
				<key>textColor</key>
				<real>16630286</real>
			</dict>
			<key>menuView</key>
			<dict>
				<key>lineColor</key>
				<real>16630286</real>
				<key>selColor</key>
				<real>16630286</real>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
			<key>headView</key>
			<dict>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
		</dict>
	</dict>
	<key>早苗绿</key>
	<dict>
		<key>backgroundColor</key>
		<integer>15921906</integer>
		<key>themeColor</key>
		<real>9291338</real>
		<key>separatorColor</key>
		<integer>10066329</integer>
		<key>textColor</key>
		<real>3355443</real>
		<key>assistantTextColor</key>
		<real>3355443</real>
		<key>lightBackGroundColor</key>
		<integer>16777215</integer>
		<key>ShiBanEpisodeCollectionViewCell</key>
		<dict>
			<key>backgroundColor</key>
			<real>16777215</real>
		</dict>
		<key>AVItemTableViewController</key>
		<dict>
			<key>tagColor</key>
			<real>9291338</real>
		</dict>
		<key>ShiBanPlayTableViewController</key>
		<dict>
			<key>numLabel</key>
			<dict>
				<key>textColor</key>
				<real>9291338</real>
			</dict>
			<key>UIImageView</key>
			<dict>
				<key>tintColor</key>
				<real>9291338</real>
			</dict>
		</dict>
		<key>FindViewController</key>
		<dict>
			<key>hotTextColor</key>
			<real>9291338</real>
		</dict>
		<key>ProfileTableViewController</key>
		<dict>
			<key>detailTextLabel</key>
			<dict>
				<key>textColor</key>
				<integer>12237242</integer>
			</dict>
			<key>view</key>
			<dict>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
		</dict>
		<key>HomePageViewController</key>
		<dict>
			<key>menuView</key>
			<dict>
				<key>norColor</key>
				<integer>16777215</integer>
				<key>selColor</key>
				<real>16777215</real>
			</dict>
		</dict>
		<key>AVInfoViewController</key>
		<dict>
			<key>UPLabel</key>
			<dict>
				<key>textColor</key>
				<real>9291338</real>
			</dict>
			<key>menuView</key>
			<dict>
				<key>lineColor</key>
				<real>9291338</real>
				<key>selColor</key>
				<real>9291338</real>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
			<key>headView</key>
			<dict>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
		</dict>
	</dict>
	<key>胖次蓝</key>
	<dict>
		<key>backgroundColor</key>
		<integer>15921906</integer>
		<key>separatorColor</key>
		<integer>10066329</integer>
		<key>themeColor</key>
		<real>2790387</real>
		<key>textColor</key>
		<integer>3355443</integer>
		<key>assistantTextColor</key>
		<integer>12303291</integer>
		<key>lightBackGroundColor</key>
		<integer>16777215</integer>
		<key>ShiBanEpisodeCollectionViewCell</key>
		<dict>
			<key>backgroundColor</key>
			<real>16777215</real>
		</dict>
		<key>AVItemTableViewController</key>
		<dict>
			<key>tagColor</key>
			<real>2790387</real>
		</dict>
		<key>ShiBanPlayTableViewController</key>
		<dict>
			<key>numLabel</key>
			<dict>
				<key>textColor</key>
				<real>2790387</real>
			</dict>
			<key>UIImageView</key>
			<dict>
				<key>tintColor</key>
				<real>2790387</real>
			</dict>
		</dict>
		<key>FindViewController</key>
		<dict>
			<key>hotTextColor</key>
			<real>2790387</real>
		</dict>
		<key>ProfileTableViewController</key>
		<dict>
			<key>detailTextLabel</key>
			<dict>
				<key>textColor</key>
				<integer>12237242</integer>
			</dict>
			<key>view</key>
			<dict>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
		</dict>
		<key>HomePageViewController</key>
		<dict>
			<key>menuView</key>
			<dict>
				<key>norColor</key>
				<integer>16777215</integer>
				<key>selColor</key>
				<real>16777215</real>
			</dict>
		</dict>
		<key>AVInfoViewController</key>
		<dict>
			<key>UPLabel</key>
			<dict>
				<key>textColor</key>
				<real>2790387</real>
			</dict>
			<key>menuView</key>
			<dict>
				<key>lineColor</key>
				<real>2790387</real>
				<key>selColor</key>
				<real>2790387</real>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
			<key>headView</key>
			<dict>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
		</dict>
	</dict>
	<key>基佬紫</key>
	<dict>
		<key>backgroundColor</key>
		<integer>15921906</integer>
		<key>themeColor</key>
		<real>10092720</real>
		<key>separatorColor</key>
		<integer>10066329</integer>
		<key>textColor</key>
		<integer>3355443</integer>
		<key>assistantTextColor</key>
		<integer>12303291</integer>
		<key>lightBackGroundColor</key>
		<integer>16777215</integer>
		<key>ShiBanEpisodeCollectionViewCell</key>
		<dict>
			<key>backgroundColor</key>
			<real>16777215</real>
		</dict>
		<key>AVItemTableViewController</key>
		<dict>
			<key>tagColor</key>
			<real>10092720</real>
		</dict>
		<key>ShiBanPlayTableViewController</key>
		<dict>
			<key>numLabel</key>
			<dict>
				<key>textColor</key>
				<real>10092720</real>
			</dict>
			<key>UIImageView</key>
			<dict>
				<key>tintColor</key>
				<real>10092720</real>
			</dict>
		</dict>
		<key>FindViewController</key>
		<dict>
			<key>hotTextColor</key>
			<real>10092720</real>
		</dict>
		<key>ProfileTableViewController</key>
		<dict>
			<key>detailTextLabel</key>
			<dict>
				<key>textColor</key>
				<integer>12237242</integer>
			</dict>
			<key>view</key>
			<dict>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
		</dict>
		<key>HomePageViewController</key>
		<dict>
			<key>menuView</key>
			<dict>
				<key>norColor</key>
				<integer>16777215</integer>
				<key>selColor</key>
				<real>16777215</real>
			</dict>
		</dict>
		<key>AVInfoViewController</key>
		<dict>
			<key>UPLabel</key>
			<dict>
				<key>textColor</key>
				<real>10092720</real>
			</dict>
			<key>menuView</key>
			<dict>
				<key>lineColor</key>
				<real>10092720</real>
				<key>selColor</key>
				<real>10092720</real>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
			<key>headView</key>
			<dict>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
